
.login{
padding: 1rem;
display: grid;
margin-top: 6rem;
}

.user_icon-container{
width: 100%;
max-width: 400px;
position: relative; /* o position: absolute */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user_icon{
width: 100%;
}

.welcome_user-span{
    color: gray;
    
}

.welcome_user-p{
    text-align: center;
    font-size: 1.8rem;
    }

.logOut_user-p{
text-align: center;
color: blue;
font-size: 1.5rem;
cursor: pointer;
}

.login_title{
font-size: 1.8rem;
text-align: center;
margin: 1rem 0;
}

.login_paragraph{
font-size: 1.1rem;
color: blue;
text-align: center;
font-weight: 300;
margin-bottom: 2rem;
}

.login_form{
width: 100%;
max-width: 400px;
margin: 0 auto;
}

.login_info-container{
display: grid ;
gap: 0.4rem;
margin-bottom: 1rem;
}

.login_label{
padding-left: 0.7rem;
}

.login_input{
height: 25px;
width: 100%;
padding-left: 0.5rem;
}

.invalidCredentials{
color: blue;
font-size: 1rem;
text-align: center;
}

.login_btn{
width: 100%;
margin-top: 1.5rem;
height: 30px ;
border-radius: 0.5rem;
border: none;
background-color: var(--backgroun_red);
color: white;
font-size: 1.2rem;
letter-spacing: 1.5px;
}
