.purchases{
    margin-top: 6rem;
padding: 1rem;
display: grid;
justify-content: center;
}

.purchases_title{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

.purchases_container{
    display: grid;
    gap: 2.5rem;
}